@import UserController._
@import helper._
@import views.html.templates.mainFlashToUser

@(user: Form[RegisterForm])(implicit flash: Flash, msg: Messages)

@mainFlashToUser(msg("register")) {
    <h1>@msg("register")</h1>
    <div><a href="@routes.Application.index()">@msg("home")</a></div>
    <div class="registerFrom">
    @form(routes.UserController.postRegister()) {
        @inputText(user(name))
        @inputPassword(user(password))
        @inputPassword(user(verify))
        <div class="buttons">
            <input type="submit" value="@msg("register")"/>
        </div>
    }
    </div>
}
