@import helper._
@import views.html.templates.main

@(taskDescription: String, solution: Form[SolutionForm])(implicit msg: Messages, req: RequestHeader)
@main(msg("task")) {
    <div class="header"><a href="@routes.Application.index()">@msg("home")</a></div>
    <div class="description">@taskDescription</div>
    <div class="solution">
    @form(routes.Application.index()) {
        @textarea(solution(TaskSolver.solution), 'rows -> "25", 'cols -> "80")
        <input type="button" value="@msg("submit")" id="submit"/>
    }
    </div>
    <div id="report"></div>
    @playscalajs.html.scripts("client")
}
