@import helper._

@(taskDescription: String, solution: Form[SolutionForm])(implicit msg: Messages, req: RequestHeader)
@helper.javascriptRouter("jsRoutes")(
    routes.javascript.TaskSolver.postSolutionAjax
)
@main(msg("task")) {
    <div><a href="@routes.Application.index()">@msg("home")</a></div>
    <div class="taskDescription">@taskDescription</div>
    <div>
        <div class="solutionForm">
        @form(routes.TaskSolver.postSolution()) {
            @textarea(solution(TaskSolver.solution), 'rows -> "25", 'cols -> "80")
            <input type="button" value="Submit" id="submit"/>
        }
        </div>
        <div id="report"></div>
    </div>

    @playscalajs.html.scripts("client")
    <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
    <script type="text/javascript">
            $('#submit').click(function(e) {
                var report = $("#report");
                report.empty();
                var solution = $("#solution").val();

                jsRoutes.controllers.TaskSolver.postSolutionAjax(solution).ajax({
                    success: function(data){
                        report.html(data);
                    }, error: function(data) {
                        console.error(data);
                    }
                });
                return false;
            });
    </script>
}
