logs
target
.idea
INFO.rtf
docker.txt
project/project/
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-ambiance.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-chaos.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-chrome.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-clouds.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-clouds_midnight.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-cobalt.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-crimson_editor.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-dawn.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-dreamweaver.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-eclipse.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-github.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-idle_fingers.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-iplastic.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-katzenmilch.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-kr_theme.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-kuroir.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-merbivore.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-merbivore_soft.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-mono_industrial.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-monokai.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-pastel_on_dark.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-solarized_dark.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-solarized_light.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-sqlserver.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-terminal.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-textmate.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-tomorrow_night.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-tomorrow_night_blue.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-tomorrow_night_bright.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-tomorrow_night_eighties.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-twilight.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-vibrant_ink.js
server/public/javascripts/ace-build-1.2.3/src-min-noconflict/theme-xcode.js
shared/.js/
shared/.jvm/
shared/project/
