body {
    background-color: #eee;
}

h1 {
    color: #555555;
    font-family: 'Roboto Condensed', sans-serif;
}

dd.info {
    display: none;
}

dd.error {
    color: red;
}

div.solutionForm > form > dl > dd {
    margin: 0;
}
div.solutionForm, div.report {
    float: left;
}

div.registerFrom > form > dl > dt {
    float: left;
    width: 65px;
}

div.taskDescription {
    white-space: pre-line;
}
