@()(implicit msg: Messages, session: Session)
<header class="navbar dg-task-nav">
    <div class="container-menu">
        <div class="navbar-header">
            <a class="navbar-brand" href="@routes.DevGymApp.index()">@msg("DevGym")</a>
        </div>
        <nav id="bs-navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@routes.AddTask.getAddTask()">@msg("addTask")</a></li>
                @session.get(loginName).fold {
                    <li><a href="@routes.UserController.getRegister()">@msg("register")</a></li>
                    <li><a href="@routes.UserController.getLogin()">@msg("login")</a></li>
                    <li>
                        <a href="@routes.GitHubUser.getLogin()" class="github-login-a">
                            <i class="github-login">&nbsp;</i>@msg("GitHubLogin")
                        </a>
                    </li>
                } { loginName =>
                    <li>
                        <a href="@routes.DevGymApp.logout()">
                            @session.get(userName).getOrElse(loginName) - @msg("logout")
                            <img class="github-avatar" src=" @session.get(avatarUrl).getOrElse("")" alt="Avatar of @loginName"/>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</header>
