.description {
  white-space: pre-line;
  padding-bottom: 1em;
}

.content {
  padding: 0 1em 0 1em;
}

dl {
  dd.info {
    display: none;
  }

  dd.error {
    color: red;
  }
}

.header {
  padding-bottom: 1em;
}

.solution {
  float: left;
  padding-right: 1em;
}

#report {
  padding-top: 1.5em;

  .green {
    color: #208020;
  }

  .red {
    color: #ff5050;
  }
}

/* Add Task */
div#leftBlock {
  float: left;
  //width: 100%;
}
div#rightBlock {
  float: right;
  //width: 100%;
}
