// Global
dl {
  dd.info {
    display: none;
  }

  dd.error {
    color: red;
  }
}

.header {
  padding-bottom: 1em;
}

//index view
.shortTaskDescription {
  min-height: 90px;
}

//task view
.description {
  white-space: pre-line;
  padding-bottom: 1em;
}

.solution {
  float: left;
  padding-right: 1em;
}

#report, #errorReport {
  padding-top: 1.5em;

  .green {
    color: #208020;
  }

  .red {
    color: #ff5050;
  }
}

div {
  #icon {
    display: none;
  }
}

//nav bar view
.icon-bar {
  background-color: #337AB7;
}

.dg-task-nav {
  margin-bottom: 0;
}
