@(task: Form[AddTaskForm])(implicit messages: Messages)

@import helper._

@main("DevGym - Add Task") {
    <div><a href="@routes.Application.index()">Home</a></div>
    <div class="solutionForm">
    @form(routes.NewTask.postNewTask()) {
        @textarea(task(NewTask.taskDescription), 'rows -> "8", 'cols -> "80")
        @textarea(task(NewTask.solutionTemplate), 'rows -> "6", 'cols -> "80")
        @textarea(task(NewTask.referenceSolution), 'rows -> "13", 'cols -> "80")
        @textarea(task(NewTask.test), 'rows -> "13", 'cols -> "80")

        <div class="submit">
            <input type="submit" value="Submit"/>
        </div>
    }
    </div>
}
