@(task: String, defForm: Form[ProbForm])(implicit messages: Messages)

@import helper._

@main("DevGym Java sleepin") {
    <div class="task">@task</div>
    <div class="form">
    @form(routes.Application.postProb()) {
        @textarea(defForm(Application.prob), 'rows -> "25", 'cols -> "80")

        <div class="submit">
            <input type="button" value="Submit"/>
        </div>
    }
    </div>
    <div id="report"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var submitAction = #{jsAction @routes.Application.postProb() /}
            $.post(submitAction, function(data) {
                $('#report').html(data)
            })
    </script>
}
