@(user: Form[RegisterForm])(implicit messages: Messages, flash: Flash)

@import helper._

@mainFlashToUser("DevGym - Register") {
    <h1>Register</h1>
    <div><a href="@routes.Application.index()">Home</a></div>
    <div class="registerFrom">
    @form(routes.UserController.postRegister()) {
        @inputText(user(UserController.name))
        @inputPassword(user(UserController.password))
        @inputPassword(user(UserController.verify))

        <div class="buttons">
            <input type="submit" value="Register"/>
        </div>
    }
    </div>
}
